@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User?.Identity?.Name</h1>
</div>
<br />
<h2>Your claims:</h2>

<table style="width: 100%;">
    @foreach (var claim in ((ClaimsIdentity)User.Identity).Claims)
    {
        <tr style="border-bottom: 1px solid #ddd;">
            <td>@claim.Type</td>
            <td>@claim.Value</td>
        </tr>
    }
</table>
